<!DOCTYPE html>

<html>

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>高校资产综合管理系统</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->

    <link href="../plugins/elementui/index.css" rel="stylesheet">

    <link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">

</head>

<body class="hold-transition">

<div id="app">

    <div class="content-header">
        <h1 v-if="L==='0'">资产信息</h1>
        <h1 v-else>资产管理</h1>

    </div>

    <div class="app-container">

        <div class="box">

            <div class="filter-container">

                <el-input class="filter-item" placeholder="资产ID" style="width: 200px;"
                          v-model="pagination.assetId"></el-input>

                <el-input class="filter-item" placeholder="资产名称" style="width: 200px;"
                          v-model="pagination.assetName"></el-input>

                <el-select placeholder="资产类型" size="large" v-model="pagination.categoryId">
                    <el-option :key="item.value" :label="item.label" :value="item.value"
                               v-for="item in categoryOptions"/>
                </el-select>

                <el-select placeholder="所属学院" size="large" v-if="L!=='1'" v-model="pagination.academyId">
                    <el-option :key="item.value" :label="item.label" :value="item.value"
                               v-for="item in academyOptions "/>
                </el-select>

                <el-select placeholder="资产状态" size="large" v-if="L!='0'" v-model="pagination.state">
                    <el-option :key="item.value" :label="item.label" :value="item.value"
                               v-for="item in stateOptions "/>
                </el-select>

                <el-button @click="getAll()" class="dalfBut">查询</el-button>

                <el-button @click="handleCreate()" class="butT" type="primary" v-if="L!='0'">新建</el-button>

                <el-button @click="resetquery()" class="dalfBut">重置查询</el-button>

            </div>

            <el-table :data="dataList" current-row-key="id" highlight-current-row size="small" stripe>

                <el-table-column align="center" label="序号" type="index"></el-table-column>

                <el-table-column align="center" label="资产ID" prop="assetId"></el-table-column>

                <el-table-column align="center" label="资产名称" prop="assetName"></el-table-column>

                <el-table-column :formatter="categoryFormat" align="center" label="资产类型"
                                 prop="categoryId"></el-table-column>

                <el-table-column :formatter="academyFormat" align="center" label="所属学院"
                                 prop="academyId"></el-table-column>

                <el-table-column align="center" label="总量" prop="inventory" v-if="L!='0'"></el-table-column>

                <el-table-column align="center" label="库存" prop="surplus"></el-table-column>

                <el-table-column align="center" label="维修中" prop="repairing" v-if="L!='0'"></el-table-column>

                <el-table-column align="center" label="入库时间" prop="warehousingTime" v-if="L!='0'"></el-table-column>

                <el-table-column align="center" label="备注" prop="note" v-if="L!='0'"></el-table-column>

                <el-table-column align="center" label="操作" width="150px">

                    <template slot-scope="scope">

                        <el-button @click="handleUpdate(scope.row)" size="mini" type="primary" v-if="L!='0'">编辑
                        </el-button>
                        <el-button @click="handleinsert(scope.row)" size="mini" type="primary" v-if="L==='0'">申请调用
                        </el-button>
                        <el-button @click="handleDelete(scope.row)" size="mini" type="danger" v-if="L!='0'">删除
                        </el-button>


                    </template>

                </el-table-column>

            </el-table>

            <!--分页组件-->
            <div class="pagination-container">

                <el-pagination
                        :current-page="pagination.currentPage"

                        :page-size="pagination.pageSize"

                        :total="pagination.total"

                        @current-change="handleCurrentChange"

                        class="pagiantion"

                        layout="total, prev, pager, next, jumper">

                </el-pagination>

            </div>

            <!-- 新增标签弹层 -->

            <div class="add-form">

                <el-dialog :visible.sync="dialogFormVisible" title="新增资产">

                    <el-form :model="formData" :rules="rules" label-position="right" label-width="100px"
                             ref="dataAddForm">

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="资产名称" prop="assetName">

                                    <el-input v-model="formData.assetName"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">
                                <el-form-item label="资产类型">
                                    <el-select placeholder="请选择" size="large" teleported="false"
                                               v-model="formData.categoryId">
                                        <el-option :key="item.value" :label="item.label" :value="item.value"
                                                   v-for="item in categoryOptions"/>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>

                        <el-row v-if="L==='2'">
                            <el-col :span="24">
                                <el-form-item label="所属学院">
                                    <el-select placeholder="请选择" size="large" teleported="false"
                                               v-model="formData.academyId">
                                        <el-option :key="item.value" :label="item.label" :value="item.value"
                                                   v-for="item in academyOptions"/>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="库存" prop="inventory">

                                    <el-input type="number" v-model="formData.inventory"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="备注" prop="note">

                                    <el-input rows="3" type="textarea" v-model="formData.note"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                    </el-form>

                    <div class="dialog-footer" slot="footer">

                        <el-button @click="cancel()">取消</el-button>

                        <el-button @click="handleAdd()" type="primary">确定</el-button>

                    </div>

                </el-dialog>

            </div>

            <!-- 编辑标签弹层 -->

            <div class="add-form">

                <el-dialog :visible.sync="dialogFormVisible4Edit" title="编辑检查项">

                    <el-form :model="formData" :rules="rules" label-position="right" label-width="100px"
                             ref="dataEditForm">

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="资产ID" prop="assetId">

                                    <el-input readonly v-model="formData.assetId"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="资产名称" prop="assetName">

                                    <el-input v-model="formData.assetName"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">
                                <el-form-item label="资产类型">
                                    <el-select placeholder="请选择" size="large" teleported="false"
                                               v-model="formData.categoryId">
                                        <el-option :key="item.value" :label="item.label" :value="item.value"
                                                   v-for="item in categoryOptions"/>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">
                                <el-form-item label="所属学院">
                                    <el-select placeholder="请选择" size="large" teleported="false"
                                               v-model="formData.academyId">
                                        <el-option :key="item.value" :label="item.label" :value="item.value"
                                                   v-for="item in academyOptions"/>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>

                        <el-row>
                            <el-form-item label="入库时间" prop="warehousingTime">
                                <el-date-picker
                                        placeholder="选择日期时间"
                                        type="datetime"
                                        v-model="formData.warehousingTime"
                                        value-format="yyyy-MM-dd hh:mm:ss">
                                </el-date-picker>
                            </el-form-item>
                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="总量" prop="inventory">

                                    <el-input type="number" v-model="formData.inventory"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="库存" prop="surplus">

                                    <el-input type="number" v-model="formData.surplus"></el-input>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="维修" prop="repairing">

                                    <el-input id="repval" type="number" v-model="formData.repairing"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">
                                <el-form-item label="资产状态">
                                    <el-select placeholder="请选择" size="large" teleported="false"
                                               v-model="formData.state">
                                        <el-option :key="item.value" :label="item.label" :value="item.value"
                                                   v-for="item in stateOptions"/>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="备注" prop="note">

                                    <el-input v-model="formData.note"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                    </el-form>

                    <div class="dialog-footer" slot="footer">

                        <el-button @click="cancel()">取消</el-button>

                        <el-button @click="handleEdit()" type="primary">确定</el-button>

                    </div>

                </el-dialog>

            </div>

            <!-- 调用标签弹层 -->
            <div class="add-form">

                <el-dialog :visible.sync="dialogFormVisible4Editinsert" title="调用申请">

                    <el-form :model="formData" :rules="rules" label-position="right" label-width="100px"
                             ref="dataEditForm">

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="资产ID" prop="assetId">

                                    <el-input readonly v-model="formData.assetId"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="资产名称" prop="assetName">

                                    <el-input readonly v-model="formData.assetName"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="库存" prop="surplus">

                                    <el-input readonly type="number" v-model="formData.surplus"></el-input>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="申请人ID" prop="userId">

                                    <el-input readonly v-model="formData.userId"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="申请人姓名" prop="userName">

                                    <el-input readonly v-model="formData.userName"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="申请数量" prop="leaseNum">

                                    <el-input type="number" v-model="formData.leaseNum"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="备注" prop="note">

                                    <el-input rows="3" type="textarea" v-model="formData.note"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                    </el-form>

                    <div class="dialog-footer" slot="footer">

                        <el-button @click="cancel()">取消</el-button>

                        <el-button @click="handleinsertEdit()" type="primary">确定</el-button>

                    </div>

                </el-dialog>

            </div>

        </div>

    </div>

</div>

</body>

<!-- 引入组件库 -->

<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script src="../js/jquery.min.js" type="text/javascript"></script>

<script src="../js/axios-0.18.0.js"></script>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            L: '',
            dataList: [],//当前页要展示的列表数据
            dialogFormVisible: false,//添加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            dialogFormVisible4Editinsert: false,//调用表单
            formData: {
                surplus: '',
                assetName: '',
                inventory: '',
                repairing: '',
                academyId: '',
                categoryId: '',
                leaseNum: 0,
            },//表单数据
            rules: {//校验规则
                assetName: [{required: true, message: '资产名称为必填项', trigger: 'blur'}],
            },
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                assetId: "",
                assetName: "",
                categoryId: "",
                academyId: "",
                state: "",

            },
            powerOptions: [{
                value: '0',
                label: "普通用户"
            }, {
                value: '1',
                label: "管理员"
            },],
            academyOptions: [{
                value: '1',
                label: '其他'
            }, {
                value: '2',
                label: "信息工程学院"
            }, {
                value: '3',
                label: "经济与管理学院"
            }, {
                value: '4',
                label: "语言文化传播学院"
            }, {
                value: '5',
                label: "艺术学院"
            },],
            stateOptions: [{
                value: 0,
                label: "暂不可用"
            }, {
                value: 1,
                label: "可用"
            },],
            categoryOptions: [{
                value: '1',
                label: '其他'
            }, {
                value: '2',
                label: "设备"
            }, {
                value: '3',
                label: "书籍"
            }, {
                value: '4',
                label: "建筑"
            }, {
                value: '5',
                label: "土地"
            }, {
                value: '6',
                label: "植物"
            },],
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getAll();
        },

        methods: {
            //状态码转换
            academyFormat(row, column) {
                if (row.academyId === '1') {
                    return '其他'
                } else if (row.academyId === '2') {
                    return '信息工程学院'
                } else if (row.academyId === '3') {
                    return '经济与管理学院'
                } else if (row.academyId === '4') {
                    return '语言文化传播学院'
                } else if (row.academyId === '5') {
                    return '艺术学院'
                }
            },

            uacademyFormat(row, column) {
                if (row.uacademyId === '1') {
                    return '其他'
                } else if (row.uacademyId === '2') {
                    return '信息工程学院'
                } else if (row.uacademyId === '3') {
                    return '经济与管理学院'
                } else if (row.uacademyId === '4') {
                    return '语言文化传播学院'
                } else if (row.uacademyId === '5') {
                    return '艺术学院'
                }
            },

            categoryFormat(row, column) {
                if (row.categoryId === '1') {
                    return '其他'
                } else if (row.categoryId === '2') {
                    return '设备'
                } else if (row.categoryId === '3') {
                    return '书籍'
                } else if (row.categoryId === '4') {
                    return '建筑'
                } else if (row.categoryId === '5') {
                    return '土地'
                } else if (row.categoryId === '6') {
                    return '植物'
                }
            },

            //列表
            getAll() {
                this.L = sessionStorage.getItem("Power");
                param = "?assetId=" + this.pagination.assetId;
                param += "&assetName=" + this.pagination.assetName;
                param += "&categoryId=" + this.pagination.categoryId;
                if (this.L === '0') {
                    this.pagination.state = '1';
                }
                param += "&state=" + this.pagination.state;
                if (this.L === '1') {
                    this.pagination.academyId = sessionStorage.getItem("academyId");
                }
                    param += "&academyId=" + this.pagination.academyId;
                axios.get("/Assets/" + this.pagination.currentPage + "/" + this.pagination.pageSize + param).then((res) => {
                    //console.log(res.data);
                    this.pagination.currentPage = res.data.data.current;
                    this.pagination.pageSize = res.data.data.size;
                    this.pagination.total = res.data.data.total;
                    this.dataList = res.data.data.records;
                })
            },

            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //添加
            handleAdd() {
                this.formData.surplus = this.formData.inventory;
                if (this.L === '1') {
                    this.formData.academyId = sessionStorage.getItem("academyId");
                }
                if (this.formData.categoryId != null && this.formData.academyId != null && this.formData.assetName != null) {
                    axios.post("/Assets", this.formData).then((res) => {
                        if (res.data.flag) {
                            this.dialogFormVisible = false;
                            this.$message.success("添加成功");
                        } else {
                            this.$message.error("添加失败");
                        }
                    }).finally(() => {
                        this.getAll();
                    })
                } else {
                    this.$message.error("请完整填写资产名称  并选择资产类型与所属学院");
                }
            },

            //取消
            cancel() {
                this.dialogFormVisible = false;
                this.dialogFormVisible4Edit = false;
                this.dialogFormVisible4Editinsert = false;
            },
            // 删除
            handleDelete(row) {
                this.$confirm("是否永久删除资产ID：" + row.assetId + "资产名称:" + row.assetName + "的记录？", "提示", {type: "info"}).then(() => {
                    axios.delete("/Assets/" + row.assetId).then((res) => {
                        if (res.data.flag) {
                            this.$message.success("删除成功");
                        } else {
                            this.$message.error("数据同步失败！已自动刷新。");//删除失败存在于两个网页间异步操作
                        }
                    }).finally(() => {
                        this.getAll();
                    })
                }).catch(() => {
                })
            },

            //弹出调用窗口
            handleinsert(row) {
                axios.get("/Assets/" + row.assetId).then((rew) => {
                    if (rew.data.flag && rew.data.data != null) {
                        this.dialogFormVisible4Editinsert = true;
                        this.formData = rew.data.data;//获取表中已有的
                        //从Session获取存入的用户信息
                        this.formData.userId = sessionStorage.getItem("Id");
                        this.formData.userName = sessionStorage.getItem("Name");
                        this.formData.uacademyId = sessionStorage.getItem("uacademyId");
                        this.formData.userPhone = sessionStorage.getItem("Phone");
                    } else {
                        this.$message.error("数据同步失败！已自动刷新。");
                    }
                }).finally(() => {
                    this.getAll();
                })
            },

            //新增调用数据
            handleinsertEdit() {
                if (this.formData.inventory < this.formData.leaseNum) {
                    this.$message.error("库存不足！");
                } else {
                    this.formData.uacademyId=parseInt(sessionStorage.getItem("academyId"))
                    axios.post("/Leaseform", this.formData).then((res) => {
                        if (res.data.flag) {
                            this.dialogFormVisible4Editinsert = false;
                            this.$message.success("申请已提交！");
                        } else {
                            this.$message.error("出错了，请重试！");
                        }
                    }).finally(() => {
                        this.getAll();
                    })
                }
            },


            //弹出编辑窗口
            handleUpdate(row) {
                axios.get("/Assets/" + row.assetId).then((rew) => {
                    if (rew.data.flag && rew.data.data != null) {//修改不仅要查询成功还得有数据
                        this.dialogFormVisible4Edit = true;
                        this.formData = rew.data.data;
                    } else {
                        this.$message.error("数据同步失败！已自动刷新。");
                    }
                }).finally(() => {
                    this.getAll();
                })
            },

            //修改
            handleEdit() {
                var inv = parseInt(this.formData.inventory);
                var sur = parseInt(this.formData.surplus);
                var rep = parseInt(this.formData.repairing);
                if (inv >= sur + rep) {
                    axios.put("/Assets", this.formData).then((res) => {

                        if (res.data.flag) {
                            this.dialogFormVisible4Edit = false;
                            this.$message.success("修改成功");
                            this.getAll();
                        } else {
                            this.$message.error("修改失败");
                        }
                    })
                } else {
                    this.$message.error("数据验证失败，库存与维修之和不得大于总量，请核对后重试");
                }
                this.getAll();
            },

            //重置查询条件
            resetquery() {
                this.pagination.assetId = "";
                this.pagination.assetName = "";
                this.pagination.categoryId = "";
                this.pagination.state = "";
                this.pagination.academyId = "";
                this.getAll();
            },

            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.getAll();
            },
        }
    })

</script>

</html>